%link{:href => "app/assets/stylesheets/application.css", :rel => "stylesheet"}/

%h1 freeshelf
%h2 books for code
- if !user_signed_in?
  %div{:class => "buttons"}
  %button.button= link_to('Login', new_user_session_path)
- if user_signed_in?
  %div{:class => "buttons>"}
  %button.button= link_to('Logout', destroy_user_session_path, :method => :delete)
  %button.button= link_to('New Book', new_book_path)
%div{:class => "buttons"}
%button.button= link_to'Book List', controller: 'books'
%p.notice= notice
%p.alert= alert
